ReadABook/Service References/VocalRecallService/VocalRecallService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/VocalRecallService/VocalRecallService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" />
  <xs:element name="DeleteWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWordsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="words" nillable="true" type="q1:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadWordsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCultures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCulturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="ListCulturesResult" nillable="true" type="q2:ArrayOfCulture" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="GetUserInfoResult" nillable="true" type="q3:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="GetWordResult" nillable="true" type="q4:Word" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wordId" type="xs:int" />
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="GetTranslationsResult" nillable="true" type="q5:ArrayOfTranslation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element minOccurs="0" name="frequencyMinimum" type="xs:int" />
        <xs:element minOccurs="0" name="frequencyMaximum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="GetWordsResult" nillable="true" type="q6:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get10Words">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element minOccurs="0" name="top" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get10WordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="Get10WordsResult" nillable="true" type="q7:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePicture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePictureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWordFrequencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetWordFrequenciesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCultureStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element minOccurs="0" name="totalBooksRead" type="xs:long" />
        <xs:element minOccurs="0" name="totalWordsProcessed" type="xs:long" />
        <xs:element minOccurs="0" name="totalWordCount" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCultureStatisticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOrUpdateFrequencyForWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="wordList" nillable="true" type="q8:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadOrUpdateFrequencyForWordsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cultureId" type="xs:int" />
        <xs:element minOccurs="0" name="topCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VocalRecallService.DataContract" minOccurs="0" name="GetTopWordsResult" nillable="true" type="q9:ArrayOfWord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>