VocalRecall/Service References/SuggestopediaService/SuggestopediaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SuggestopediaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SuggestopediaService/SuggestopediaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SuggestopediaService/SuggestopediaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/SuggestopediaService/SuggestopediaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SuggestopediaService.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISuggestopediaService_DeleteWords_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWords" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_DeleteWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWordsResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_UploadWords_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadWords" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_UploadWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadWordsResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_ListCultures_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCultures" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_ListCultures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCulturesResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWord" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetTranslation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslation" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetTranslation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetWords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWords" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_GetWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordsResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_Get10Words_InputMessage">
    <wsdl:part name="parameters" element="tns:Get10Words" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_Get10Words_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get10WordsResponse" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_DeletePicture_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePicture" />
  </wsdl:message>
  <wsdl:message name="ISuggestopediaService_DeletePicture_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePictureResponse" />
  </wsdl:message>
  <wsdl:portType name="ISuggestopediaService">
    <wsdl:operation name="DeleteWords">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/DeleteWords" message="tns:ISuggestopediaService_DeleteWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/DeleteWordsResponse" message="tns:ISuggestopediaService_DeleteWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadWords">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/UploadWords" message="tns:ISuggestopediaService_UploadWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/UploadWordsResponse" message="tns:ISuggestopediaService_UploadWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCultures">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/ListCultures" message="tns:ISuggestopediaService_ListCultures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/ListCulturesResponse" message="tns:ISuggestopediaService_ListCultures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/AuthenticateUser" message="tns:ISuggestopediaService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/AuthenticateUserResponse" message="tns:ISuggestopediaService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/GetUserInfo" message="tns:ISuggestopediaService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/GetUserInfoResponse" message="tns:ISuggestopediaService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/GetWord" message="tns:ISuggestopediaService_GetWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/GetWordResponse" message="tns:ISuggestopediaService_GetWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslation">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/GetTranslation" message="tns:ISuggestopediaService_GetTranslation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/GetTranslationResponse" message="tns:ISuggestopediaService_GetTranslation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/GetWords" message="tns:ISuggestopediaService_GetWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/GetWordsResponse" message="tns:ISuggestopediaService_GetWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get10Words">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/Get10Words" message="tns:ISuggestopediaService_Get10Words_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/Get10WordsResponse" message="tns:ISuggestopediaService_Get10Words_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePicture">
      <wsdl:input wsaw:Action="http://tempuri.org/ISuggestopediaService/DeletePicture" message="tns:ISuggestopediaService_DeletePicture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISuggestopediaService/DeletePictureResponse" message="tns:ISuggestopediaService_DeletePicture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISuggestopediaService" type="tns:ISuggestopediaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteWords">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/DeleteWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadWords">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/UploadWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCultures">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/ListCultures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWord">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/GetWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTranslation">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/GetTranslation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWords">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/GetWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get10Words">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/Get10Words" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePicture">
      <soap:operation soapAction="http://tempuri.org/ISuggestopediaService/DeletePicture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SuggestopediaService">
    <wsdl:port name="BasicHttpBinding_ISuggestopediaService" binding="tns:BasicHttpBinding_ISuggestopediaService">
      <soap:address location="http://localhost/SuggestopediaService/SuggestopediaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>